html {

}
.form-container {
  margin-top: 10%;
  width: 100%;
}
.sub-form-container {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  border: 1px solid #2412;
  border-radius: 8px;
  padding: 28px 0px 0px;
}
.sub-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 672px;
}
.home-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.home-sub-container {
  width: 986px;
  margin: auto;
  margin-top: 16px;
}
.product-card-image {
  margin: auto;
  width: 180px;
  height: 180px;
}
.product-card-price {
  margin-top: 4px;
}
.product-card-name {
  margin-top: -8px;
}
.home-more-btn {
  margin: auto;
  background-color: #fff;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
