html {

}
.form-container {
  margin-top: 10%;
  width: 100%;
}
.sub-form-container {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  border: 1px solid #2412;
  border-radius: 8px;
  padding: 28px 0px 0px;
}
.sub-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 672px;
}
.home-sub-container {
  padding-top: 20px;
  width: 986px;
  margin: auto;
}
.product-card-image {
  margin-bottom: 12px;;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
  max-height: 180px;
  justify-content: center;
}
.product-card-price {
  margin-top: 4px;
}
.product-card-name {
  margin-top: -8px;
  height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow text wrapping */
}
.home-more-btn {
  margin: auto;
  background-color: #fff;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
} */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.footer-container{
  background-color: #24262b;
}
.footer-row{
  margin:auto;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  margin: 60px 0px;
  width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive footer*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.product-detail-container {
  padding: 20px 124px;
  /* background-color: #e5e7eb; */
}
.product-detail-sub-container {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 20px
}
.product-detail-image {
  border-radius: 8px;
  width: 320px;
  height: 380px;
}
.product-detail-basic-infor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  width: 100%;
}
.product-detail-policy {
  padding: 20px 0px 20px 20px;
  background-color: #fff;
  width: 100%;
}
.product-detail-price {
  color: #0066CC;
  font-size: 24px;
  font-weight: bold;
}

.product-detail-promotion-header {
  height: 40px;
  padding: 8px 16px;
  background-color: #D1E9F6;
  border-radius: 8px 8px 0px 0px;
  color: #0066CC;
  font-weight: 500;
  font-size: 18px;
}
.product-detail-promotion-content {
  /* height: 40px; */
  padding: 8px 16px;
  /* background-color: #D1E9F6; */
  border: 1px solid #D1E9F6;
  border-radius: 0px 0px 8px 8px;
  /* color: #0066CC; */
  font-weight: 400;
  font-size: 16px;
}
.product-detail-policy-header {
  height: 40px;
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}
.product-detail-policy-content {
  padding: 8px 20px;
  border: 1px solid #000;
  text-align: justify;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
}
.product-detail-btn-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.product-detail-description {
  /* background-color: #e5e7eb; */
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-bottom: 12px;
}

