html {

}
.form-container {
  margin-top: 10%;
  width: 100%;
}
.sub-form-container {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  border: 1px solid #2412;
  border-radius: 8px;
  padding: 28px 0px 0px;
}
.sub-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 672px;
}
.home-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.home-sub-container {
  width: 986px;
  margin: auto;
  margin-top: 16px;
}
.product-card-image {
  margin: auto;
  width: 180px;
  height: 180px;
}
.product-card-price {
  margin-top: 4px;
}
.product-card-name {
  margin-top: -8px;
}
.home-more-btn {
  margin: auto;
  background-color: #fff;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
} */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.footer-container{
  background-color: #24262b;
}
.footer-row{
  margin:auto;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  margin: 60px 0px;
  width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

